<div class="navbar">
    <div class="logo">LibraryMS</div>

    <div class="nav-links">
        <a href="/">Dashboard</a>
        <a href="/add_book">Add Book</a>
        <a href="/add_member">Add Member</a>
        <a href="/add_author">Add Author</a>
        <a href="/add_category">Add Category</a>
        <a href="/view_books">Books</a>
        <a href="/view_members">Members</a>
        <a href="/issue_book">Issue</a>
        <a href="/return_book">Return</a>
        <a href="/borrow_records">Borrow Records</a>
        <a href="/view_fines">Fines</a>
        <a href="/reports">Reports</a>
    </div>
</div>

<script>
    function toggleMenu() {
        const navLinks = document.getElementById("navLinks");
        navLinks.classList.toggle("show");
    }
</script>